<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/bootstrap/css/bootstrap.css" rel="stylesheet" >
<!--    <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <link href="/css/FontAwesome/css/all.css" rel="stylesheet">
    <link href="/css/FontAwesome/css/font-awesome.css" rel="stylesheet">

<!--    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->

    <script src="/css/bootstrap/js/bootstrap.min.js"></script>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



</head>

<body>

<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <header>
            <a href="#">Archival Application</a>
        </header>
        <ul class="nav">
            <li class="active">
                <a th:href="@{/dashboard}">
                    <i class="zmdi zmdi-view-dashboard"></i> Dashboard
                </a>
            </li>
            <li>
                <a th:href="@{/journals}">
                    <i class="zmdi zmdi-link"></i> Request For Journals
                </a>
            </li>
            <li>
                <a th:href="@{/footages}">
                    <i class="zmdi zmdi-widgets"></i> Request For Footages
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-calendar"></i> Footages From June 1st
                </a>
            </li>
            <li>
                <a th:href="@{/logout}">
                    <i class="zmdi zmdi-info-outline"></i> Logoff
                </a>
            </li>

        </ul>
    </div>
    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <h1 th:text="'Welcome, ' + ${session.userName}"/>
            </div>
        </nav>
        <div class="container-fluid">
                Make sure to keep all page content within the
                <code>#content</code>.
            <div class="box">
                Terminals with access
            </div>

            <br>
            <div class="container">
                <table class="table table-bordered table-striped">

                    <thead>

                    <tr>
                        <th>Name</th>
                        <th>Terminal ID</th>
                        <th>Date</th>
                    </tr>

                    </thead>
                    <tbody>
                    <!--          <tr th:each="item : ${journals}">-->
                    <tr th:each="item : ${journals}">
                        <!--            <td>-->
                        <!--              <div class="btn btn-group-sm" role="group">-->
                        <!--                <a class="btn btn-info" href="#">Download</a>-->
                        <!--              </div>-->
                        <!--            </td>-->
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.terminal}"></td>
                        <td th:text="${item.startDate}"></td>
                        </td>
                    </tr>
                    </tbody>

                    </thead>

                </table>

            </div>

        </div>
    </div>
</div>



</body>

</html>