<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Footages</title>
  <link href="/css/dashboard.css" rel="stylesheet">
  <link href="/css/bootstrap/css/bootstrap.css" rel="stylesheet" >
  <link href="/css/FontAwesome/css/all.css" rel="stylesheet">
  <link href="/css/FontAwesome/css/font-awesome.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="/css/bootstrap/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<style>
  form {
   width: 700px;
    margin: 0 auto;
<!--    text-align: center;-->
  }
  label {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  input[type="text"] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
    input[type="date"] {
    width: 23%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
</style>

<body>


<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">Archival Application</a>
    </header>
    <ul class="nav" th:if="${session.userRole eq 'ATM_ADMIN'}" >
      <li>
        <a th:href="@{/archive/dashboard}">
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a th:href="@{/archive/journals}">
          <i class="zmdi zmdi-link"></i> Request For Journals
        </a>
      </li>
      <li class="active">
        <a th:href="@{/archive/footages}">
          <i class="zmdi zmdi-widgets"></i> Request For Footages
        </a>
      </li>

      <li>

        <a th:href="@{/archive/addition}">
          <i class="zmdi zmdi-calendar"></i> Add New ATMs
        </a>
      </li>

      <li>

        <a th:href="@{/archive/view}">
          <i class="zmdi zmdi-calendar"></i> View ATMs
        </a>
      </li>

      <li>

        <a th:href="@{/archive/errors}">
          <i class="zmdi zmdi-calendar"></i> View Daily Report
        </a>
      </li>

      <li>
        <a th:href="@{/archive/logout}">
          <i class="zmdi zmdi-info-outline"></i> Logoff
        </a>
      </li>

    </ul>


    <ul class="nav" th:if="${session.userRole eq 'SUPPORT'}" >
      <li>
        <a th:href="@{/archive/dashboard}">
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a th:href="@{/archive/journals}">
          <i class="zmdi zmdi-link"></i> Request For Journals
        </a>
      </li>
      <li class="active">
        <a th:href="@{/archive/footages}">
          <i class="zmdi zmdi-widgets"></i> Request For Footages
        </a>
      </li>

      <li>
        <a th:href="@{/archive/logout}">
          <i class="zmdi zmdi-info-outline"></i> Logoff
        </a>
      </li>

    </ul>

    <ul class="nav" th:if="${session.userRole eq 'CONTROL'}" >

      <li>
        <a th:href="@{/archive/dashboard}">
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a th:href="@{/archive/journals}">
          <i class="zmdi zmdi-link"></i> Request For Journals
        </a>
      </li>

      <li class="active">
        <a th:href="@{/archive/footages}">
          <i class="zmdi zmdi-widgets"></i> Request For Footages
        </a>
      </li>

      <li>
        <a th:href="@{/archive/footages}">
          <i class="zmdi zmdi-widgets"></i> Download Active ATMs
        </a>
      </li>

      <li>
        <a th:href="@{/archive/footages}">
          <i class="zmdi zmdi-widgets"></i> Grant Access
        </a>
      </li>

      <li>
        <a th:href="@{/archive/logout}">
          <i class="zmdi zmdi-info-outline"></i> Logoff
        </a>
      </li>

    </ul>



    <ul class="nav" th:if="${session.userRole eq 'ACCESS_CONTROL'}" >

      <li>
        <a th:href="@{/archive/dashboard}">
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a th:href="@{/archive/journals}">
          <i class="zmdi zmdi-link"></i> View Users
        </a>
      </li>



      <li>
        <a th:href="@{/archive/logout}">
          <i class="zmdi zmdi-info-outline"></i> Logoff
        </a>
      </li>

    </ul>
  </div>
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <h1 th:text="'Hi, ' + ${session.userName}"/>
      </div>

    </nav>
    <div class="container-fluid">
      <form class="well form-horizontal" action="#" th:action="@{/fetch/getjournals}" th:object="${archiveEntity}" method="post"  id="contact_form">

        <fieldset>

          <!-- Form Name -->
          <legend>Fill below details</legend>

          <!-- Text input-->

          <div class="form-group">
            <label class="col-md-4 control-label">Terminal ID</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input placeholder="Terminal ID" th:field="*{terminal}" class="form-control"  type="text">
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Date Range</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input placeholder="Start Date" class="form-control" th:field="*{startDate}" type="date" required>
                <input placeholder="End Date" class="form-control" th:field="*{endDate}" type="date" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-4 inputGroupContainer">
              <button id="submit-form" class="btn btn-md submit-form">Click to Search</button>
            </div>
          </div>
        </fieldset>
      </form>

      <div th:if="${journals != null}">

        <div class="container">
          <table class="table table-bordered table-striped">

            <thead>

            <tr>
              <th>Name</th>
              <th>Terminal ID</th>
              <th>Date</th>
            </tr>

            </thead>
            <tbody>
            <!--          <tr th:each="item : ${journals}">-->
            <tr th:each="item : ${journals}">

              <td th:text="${item.name}"></td>
              <td th:text="${item.terminal}"></td>
              <td th:text="${item.startDate}"></td>
              <td>
                <div class="btn btn-group-sm" role="group">
                  <a th:href="@{/fetch/download/{name}(name=${item.name})}" th:text="Download"></a>
                </div>
              </td>
            </tr>
            </tbody>

            </thead>

          </table>

        </div>
      </div>

    </div>
  </div>
</div>




</body>


</html>
