<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <title>home</title>
</head>
<body>

<div class="card">

    <div class="login-box">
        <div class="login-snip">
            <div th:if="${error != null}">
                <div class="alert alert-info text-center border border-info">
                    <b th:text="${error}"/>
                </div>
            </div>

            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>


            <div class="login-space">
                <div class="login">
                        <form action="#" th:action="@{/archive/login}" th:object="${login}" method="POST">
                            <div class="group">

                            <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input" th:field="*{UserName}" placeholder="Enter your username" required>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" th:field="*{UserPassword}"  placeholder="Enter your password" required>
                    </div>

                    <div class="group">
                        <input id="token" type="hidden" class="input" th:value="${token}">
                    </div>

                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>

                    </form>
                    <div class="hr"></div>
                    <div class="foot">
                        <a href="#">Forgot Password?</a>
                    </div>
                </div>
                <div class="sign-up-form">
                    <form action="#" th:action="@{/archive/signup}" th:object="${login}" method="POST">

                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input" th:field="*{UserName}" placeholder="Enter your Username">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up">
                    </div>
                    </form>
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


</body>
</html>