<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Upload Status</title>
  <link href="/css/dashboard.css" rel="stylesheet">
  <link href="/css/bootstrap/css/bootstrap.css" rel="stylesheet" >
  <link href="/css/FontAwesome/css/all.css" rel="stylesheet">
  <link href="/css/FontAwesome/css/font-awesome.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="/css/bootstrap/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



</head>

<body>

<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">Archival Application</a>
    </header>
    <ul class="nav" th:if="${session.userRole eq 'ATM_ADMIN'}" >
      <li>
        <a th:href="@{/archive/dashboard}">
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a th:href="@{/archive/journals}">
          <i class="zmdi zmdi-link"></i> Request For Journals
        </a>
      </li>
      <li>
        <a th:href="@{/archive/footages}">
          <i class="zmdi zmdi-widgets"></i> Request For Footages
        </a>
      </li>

      <li>

        <a th:href="@{/archive/addition}">
          <i class="zmdi zmdi-calendar"></i> Add New ATMs
        </a>
      </li>

      <li>

        <a th:href="@{/archive/view}">
          <i class="zmdi zmdi-calendar"></i> View ATMs
        </a>
      </li>

      <li class="active">

        <a th:href="@{/archive/errors}">
          <i class="zmdi zmdi-calendar"></i> View Daily Report
        </a>
      </li>

      <li>
        <a th:href="@{/archive/logout}">
          <i class="zmdi zmdi-info-outline"></i> Logoff
        </a>
      </li>

    </ul>


    <ul class="nav" th:if="${session.userRole eq 'SUPPORT'}" >
      <li class="active">
        <a th:href="@{/archive/dashboard}">
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a th:href="@{/archive/journals}">
          <i class="zmdi zmdi-link"></i> Request For Journals
        </a>
      </li>
      <li>
        <a th:href="@{/archive/footages}">
          <i class="zmdi zmdi-widgets"></i> Request For Footages
        </a>
      </li>

      <li>
        <a th:href="@{/archive/logout}">
          <i class="zmdi zmdi-info-outline"></i> Logoff
        </a>
      </li>

    </ul>

    <ul class="nav" th:if="${session.userRole eq 'CONTROL'}" >

      <li class="active">
        <a th:href="@{/archive/dashboard}">
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a th:href="@{/archive/journals}">
          <i class="zmdi zmdi-link"></i> Request For Journals
        </a>
      </li>

      <li>
        <a th:href="@{/archive/footages}">
          <i class="zmdi zmdi-widgets"></i> Request For Footages
        </a>
      </li>

      <li>
        <a th:href="@{/archive/footages}">
          <i class="zmdi zmdi-widgets"></i> Download Active ATMs
        </a>
      </li>

      <li>
        <a th:href="@{/archive/footages}">
          <i class="zmdi zmdi-widgets"></i> Grant Access
        </a>
      </li>

      <li>
        <a th:href="@{/archive/logout}">
          <i class="zmdi zmdi-info-outline"></i> Logoff
        </a>
      </li>

    </ul>



    <ul class="nav" th:if="${session.userRole eq 'ACCESS_CONTROL'}" >

      <li class="active">
        <a th:href="@{/archive/dashboard}">
          <i class="zmdi zmdi-view-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a th:href="@{/archive/journals}">
          <i class="zmdi zmdi-link"></i> View Users
        </a>
      </li>


      <li>
        <a th:href="@{/archive/logout}">
          <i class="zmdi zmdi-info-outline"></i> Logoff
        </a>
      </li>



    </ul>


  </div>
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <h1 th:text="'Welcome, ' + ${session.userName}"/>
      </div>
    </nav>
    <div class="container-fluid">


      <!--      Beginnning of Form-->

      <div th:if="${record != null}">

        <div class="alert alert-info text-center border border-info">
          <b th:text="${record}"/>
        </div>

      </div>
      <form class="well form-horizontal" action="#"  th:action="@{/fetch/export}" th:method="post" id="contact_form">

        <fieldset>

          <!-- Form Name -->
          <legend>Search Report for a Date range</legend>

          <!-- Text input-->

          <div class="form-group">
            <label class="col-md-4 control-label">Date Range</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input placeholder="Start Date" class="form-control" name="startDate" type="date" required>
                <input placeholder="End Date" class="form-control" name="endDate" type="date" required>
              </div>
            </div>
          </div>

          <!--          Text Input-->

          <div class="form-group">
            <div class="col-md-4 inputGroupContainer">
              <button id="submit-form" class="btn btn-md submit-form">Click to Search</button>
            </div>
          </div>

          <!--          Submit-->

        </fieldset>
      </form>


      <!--      End of Form-->


      <br>

    </div>
  </div>
</div>



</body>

</html>